# Ignore python virtual environments
.sec_env/
.venv/

# Untrack specific local scripts
projects_py/
test.py
test_2.py

# Ignore general study and practice folders
data_manipulation_pd.py
img_/
intermediate_python/
intro_numpy/
join_data_py/
npy_img/
project_vids/